// form input
.formControl {
  &__input {
    width: 100%;
    height: 48px;
    border: 1px solid $border-default;
    padding: 14px;
  }

  &__button {
    width: 100%;
    height: 56px;
    color: $text-dark;
    background: $primary;
    padding: 0;
    border: 0;
  }
}

// custom checkbox
.customCheckbox {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;

  &:focus + &Label::before {
    /* outline: 2px solid $outline;
    outline-offset: 2px; */
    border: 2px solid $outline;
    border-radius: 4px;
  }

  &Label {
    @include flexbox($align: center);

    &::before {
      content: '';
      width: 24px;
      height: 24px;
      background: url('./../images/unchecked.svg') no-repeat 0 0 / 100% 100%;
      margin-right: 4px;
    }
  }

  &:checked + &Label::before {
    background-image: url('./../images/checked.svg');
  }
}


.loginState__checkbox {
}

// error message
.errorMessage {
  display: none;
  font-size: rem(12px);
  line-height: 1.5;
  letter-spacing: -0.1em;
  color: $warning;
}

.is--invalid .errorMessage {
  display: block;
}