.container {
  @include mobile {
    padding-top: 25px;
    @include paddingX(16px);
  }

  @include desktop {
    padding-top: 50px;
  }
}

// logo
.logo {
  @include autoMargin;

  @include mobile {
    width: 51.25%;
    min-width: 164px;
    max-width: 230px;
    @include marginY(45px);
  }

  @include desktop {
    width: 230px;
    @include marginY(50px);
  }

  &__link {
    display: block;
    
    &:focus {
     outline-offset: 10px;
    }
  }
}

// login form
.loginForm__container {
  @include flexbox(column);

  @include desktop {
    @include boxFixed;
  }
}

.userSelectInfo {
  order: 1;
}