.container {
  @include mobile {
    padding-top: 25px;
    @include paddingX(16px);
  }

  @include desktop {
    padding-top: 50px;
  }
}

// header
.header {
  padding: 0 1rem;
  @include flexbox($dir: column, $align: flex-end);

  @include desktop {
    max-width: 1024px;
    @include autoMargin;
  }
}

// select language
.customSelect {
  order: -1;
  height: 28px;
  border: 1px solid $silverLight;
  border-radius: 4px;
  @include flexbox($align: center);
  position: relative;

  &__select {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    @include paddingX(8px, 20px);
    background: transparent;
    color: $silver;
  }

  .arrowDown {
    pointer-events: none;
    position: absolute;
    right: 4px;
    top: 50%;
    height: 50%;
    transform: translateY(-40%);

    path {
      fill: $silver;
    }
  }
}

// logo
.logo {
  @include autoMargin;

  @include mobile {
    width: 51.25%;
    min-width: 164px;
    max-width: 230px;
    @include marginY(45px);
  }

  @include desktop {
    width: 230px;
    @include marginY(50px);
  }

  &__link {
    display: block;
    
    &:focus {
     outline-offset: 10px;
    }
  }
}

// login form
.loginForm__container {
  @include flexbox(column);

  @include desktop {
    @include boxFixed;
  }

  .errorMessage {
    margin-top: 8px;
  }
}

.userPassword {
  margin-top: 10px;
}

.userSelectInfo {
  order: 1;
  margin-top: 10px;
  @include flexbox($align: center);

  @include mobile {
    justify-content: flex-end;
  }
}

.loginState {
  @include desktop {
    margin-right: auto;
    // flex-grow: 1; // 여백도 클릭이 됨
  }
}

.ipSecurityLink {
  margin-right: 8px;
  @include mobile {
    display: none;
  }
}

.ipSecurity {
  @include mobile {
    display: none;
  }

  /* // label outline 설정
  &__checkbox:focus + &__label {
    outline: 2px solid $outline;
    outline-offset: 4px;
  }
  */

  // slide switch component
  &__checkbox {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    // focus일 때 outline
    width: 44px;
    height: 24px;
  }

  &__label {
    position: relative;
    display: block;
    width: 44px;
    height: 24px;
    background-color: $secondary;
    border-radius: 12px;
    padding: 0 4px;
  }

  &__label::before {
    position: absolute;
    top: 50%;
    content: '';
    width: 18px;
    height: 18px;
    background-color: $white;
    border-radius: 10px;
    transform: translateY(-50%);
    transition: all .2s;
  }

  &__checkbox:checked + &__label {
    background-color: $primary;
  }

  &__checkbox:checked + &__label::before {
    transform: translate(100%, -50%);
  }
  
  // ON/OFF text swich
  // &__label::before {
  //   display: inline-block;
  //   width: 3em;
  //   text-align: right;
  //   content: 'OFF';
  //   color: $secondary;
  //   font-weight: 700;
  // }

  // &__checkbox:checked + &__label::before {
  //   content: 'ON';
  //   color: $primary;
  // }
}

.loginButton {
  margin-top: 20px;
}

